

.background {
    -fx-background-image: url("../ressources/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.button_menu {
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #8E8A5C;
    -fx-padding: 15px;
    -fx-border-radius: 0.5em;
    -fx-color: #070500;
}

.button_pause {
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #8E8A5C;
    -fx-padding: 15px;
    -fx-border-radius: 0.5em;
    -fx-color: #070500;
    -fx-font-size: 20px;
}

.background_pause {
    -fx-background-image: url("../ressources/parchemin.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-padding: 35px;
    -fx-border-radius: 0.5em;
}

.button_conf {
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #8E8A5C;
    -fx-padding: 15px;
    -fx-border-radius: 0.5em;
    -fx-color: #070500;
    -fx-font-size: 20px;
    -fx-end-margin: 100px;
}