.anchorMainLoader {
    -fx-background-color: #ff0000;
}

.anchorMenuMain {
    -fx-background-color: #2f4f4f;
}

.deckText {
    -fx-background-color: #eeeeee;
}

.cardHolder {
	-fx-background-image: url("../ressources/repose_carte.png");
	/*-fx-background-size: 96, 205;
	-fx-background-repeat: no-repeat;*/
}